/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;/* 屏幕最小宽度 这样当屏幕减小时下方会出现滚轮 就不会使得角色列表的箭头挪到下面了 */
}

.el-breadcrumb { /* 面包屑 */
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important; /* 覆盖组件本身的样式 */
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.el-steps {
  margin: 15px 0;
}

.el-step__title {
  font-size: 13px;
}

/* 这个类名要在浏览器中富文本编辑器相应的位置中找到 html没有写 */
.ql-editor {
  min-height: 300px;
}
